{% extends "::base.html.twig" %}
{% block title %}
    Rejestracja
{% endblock %}
{% block body %}
        <p>
            Id: {{ user.id }}
        </p>
        <p>
            Imię: {{ user.name }}
        </p>
        <p>
            Nazwisko: {{ user.surname }}
        </p>
        <p>
            Opis: {{ user.description }}
        </p>
{% endblock %}