{% extends "::base.html.twig" %}
{% block title %}
    Witamy na stronie
{% endblock %}
{% block body %}
    <h3 style="text-align: center">Witam na stronie która umożliwia tworzenie własnej książki adresowej</h3>
{% endblock %}